.thumbnail-item-container {
  width: 100px;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  margin: 15px;
}

.thumbnail-item-image {
  width: 100%;
}
.button {
  border: none;
  background-color: transparent;
}
